<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="passwordreset">
        {% csrf_token %}
    <p>Username: <input type="text" name="uname"></p><br>
    <p>New password: <input type="password" name="password"></p><br>
    <input type="submit" value="Ok">
        {{msg}}
    
        <p>   <a href="{% url 'login' %}"><I>Login</I></a></p>
    </form>
</body>
</html>